.camera-button {
    width: 100px;
    height: 100px;
    top: 90%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    z-index: 1;
  }
  .circle {
    position: absolute;
    top: 12%;
    left: 12%;
    bottom: 12%;
    right: 12%;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 0;
  }
  .ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    border-radius: 100%;
    border: 0.5em solid #ffffff;
    opacity: 0.8;
  }
  .camera-button .circle, .camera-button .ring {
    transition: all 0.25s;
  }
  .camera-button:hover .circle {
    opacity: 1;
  }
  .camera-button:active .ring {
    opacity: 1;
  }
  .camera-button:active .circle {
    opacity: 0.5;
  }
